.content {
    margin-top: 20px;
}

#app {
    padding: 20px 50px;
}

#topDiv button, select {
    margin-left: 10px;
}

#searchTableText {
    width: 300px;
}

.searchText {
    color: #fe7300;
}

.but {
    color: #1890ff;
    cursor: pointer;
    margin-left: 5px;
}

.but-del {
    color: red;
    cursor: pointer;
    margin-left: 5px;
}

.bg-disabled {
    color: #b7b5b5;
}

.liInfo {
    border: solid 1px #CCC;
    margin-top: 10px;
    padding: 10px;
    height: auto;
}

.liInfo p {
    height: 22px;
}

.liInfo p input {
    margin-top: 5px;
}
.liInfo_div {
    border: solid 1px #CCC;
    padding: 10px;
    margin-top: 10px;
    height: auto;
}